{% extends 'index.html'%}
{% block content %}
<div class="form-wrapper">

	<form class="form-signin" action="" method="post">
		<h2 class="form-signin-heading">Please login</h2>
		<input type="text" class="form-control" value="{{request.form.username}}" name="username" placeholder="Email Address" required="" autofocus="" />

		<input type="password" class="form-control" value="{{request.form.password}}" name="password" placeholder="Password" required=""/>
		<label class="checkbox">
			<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
		</label>
		<button class="btn btn-lg btn-primary btn-block btn" type="submit" value="Login">Login</button>
		{% if error %}
		{{error}}
		{% endif %}
	</form>
</div>
{% endblock %}
